<!DOCTYPE html>
{% include 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{static 'css/edit.css'}">
</head>
<body>
    <h1>TO-DO LIST</h1>
   
    <form method="POST">
    {% csrf_token %}
    <br>
    <label for="">tittle</label><input type="text" name="title" value="{{ edit.title }}">
    <br>
    <label for="">Description:</label><input type="text" name="desc" value="{{ edit.desc }}">
    <br>
    <button type="submit">submit</button>
    </form>
</body>
</html>